.intro-background {
  height: 100%;
  width: 100%;
  background-image: url("../../assets/images/svg/start_overlay-box-large.svg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
}

.start-button {
  position: absolute;
  z-index: 2;
  cursor: pointer;
  width: 12%;
  height: 12%;
}
