.conclu-background {
  height: 100%;
  width: 100%;
  background-image: url("../../assets/images/svg/feedback_overlay-box-large.svg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
}

.x-button {
  position: absolute;
  z-index: 2;
  cursor: pointer;
  width: 5%;
  height: 10%;
}
