html,
body {
  height: 100%;
}

.play-background {
  height: 100vh;
  background-image: url("../../assets/images/svg/hanger_background.svg");
  background-repeat: no-repeat;
  background-position: center;
}

.instruction {
  width: 30%;
  position: absolute;
  top: 10%;
  right: 10%;
}