html,
body {
  height: 100%;
}

.background {
  height: 100vh;
  background: #ffffff;
  display: flex;
  align-items: center;
  justify-content: center;
}

.hangar {
  height: 100%;
}

.right-foot,
.left-foot {
  position: absolute;
  z-index: 1;
  top: 0;
  left: 0;
}

.right-foot-container {
  position: absolute;
  z-index: 0;
  top: 268px;
  left: 530px;
  width: 60px;
  height: 60px;
  /* border: 2px solid black; */
}

.left-foot-container {
  position: absolute;
  z-index: 0;
  top: 268px;
  left: 432px;
  width: 60px;
  height: 60px;
  border: 2px solid black;
}
